################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs
/packages/EntityFramework.6.4.4
